{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}

    <h1>{{ participant.nom }}</h1>

    <span> <img src="{{ vich_uploader_asset(participant, 'imageFile') }}" alt="avatar"> </span> <br>

    <span> Nom : {{ participant.nom }} </span><br>

    <span> Prénom : {{ participant.prenom }} </span><br>

    <span> Téléphone : {{ participant.telephone }} </span><br>

    <span> Campus : {{ participant.campus.nom }} </span><br>

    <button type="submit" {{ path('app_main') }}> Retour </button>

    {% if participant is same as (app.user) %}
        <button {{ path('app_participant_edit', {'id':participant.id}) }}>Modifier</button>
    {% endif %}


{% endblock %}