{% extends 'base.html.twig' %}

{% block script %}
    <script src="{{ asset('js/searchFilters.js') }}" defer></script>
{% endblock %}
{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h2>Trouver une sortie</h2>

        {{ form_start(form) }}
        <div class="searchBar">
            {{ form_widget(form.mots) }}
            <button class="purpleButton" type="submit">Rechercher</button>
            <p class="whiteButton filterButton">Filtrer</p>
        </div>
        <div class="filters">
            <div class="filterSelects">
                <div class="inputField">
                    <label for="rechercher_rechercheCampus">Campus</label>
                    {{ form_widget(form.rechercheCampus) }}
                </div>
                <div class="inputField">
                    <label for="rechercher_dateHeureDebut">Date de début</label>
                    {{ form_widget(form.dateHeureDebut) }}
                </div>
                <div class="inputField">
                    <label for="rechercher_dateLimiteInscription">Clôture des inscriptions</label>
                    {{ form_widget(form.dateLimiteInscription) }}
                </div>
            </div>
            <div class="filterCheckboxes">
                <div class="checkboxField">
                    {{ form_widget(form.organisateur) }}
                    <label for="rechercher_organisateur">Sorties que j'organise</label>
                </div>
                <div class="checkboxField">
                    {{ form_widget(form.inscrit) }}
                    <label for="rechercher_inscrit">Sorties auxqelles je suis inscrit</label>
                </div>
                <div class="checkboxField">
                    {{ form_widget(form.pasInscrit) }}
                    <label for="rechercher_pasInscrit">Sorties auxquelles je ne suis pas inscrit</label>
                </div>
                <div class="checkboxField">
                    {{ form_widget(form.dejaPasse) }}
                    <label for="rechercher_dejaPasse">Sorties passées</label>
                </div>
            </div>
        </div>
        {{ form_end(form) }}


        {#
        <label for="campus">Campus:</label>
        <select id="campus">
            {% for campus in campuses %}
                <option value="{{ campus.id }}">{{ campus.nom }}</option>
            {% endfor %}
        </select>

         <label for="rechercher">le nom de la sortie contient :</label>
        <input type="search" id="rechercher">

        <label for="dateDebut">Entre</label>
        <input type="date" id="dateDebut">

        <label for="dateFin">et</label>
        <input type="date" id="dateFin">

        <label for="sortieOrganisateur">Sortie dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="sortieOrganisateur" name="sortieOrganisateur">

        <label for="sortieInscrit">Sortie dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="sortieInscrit" name="sortieInscrit/e">

        <label for="sortiePasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
        <input type="checkbox" id="sortiePasInscrit" name="sortiePasInscrit">

        <label for="sortiePassee">Sortie passées</label>
        <input type="checkbox" id="sortiePassee" name="sortiePassee"> #}
        <div class="table">
        <table>
            <tr>
                <th class="tableHead">ID</th>
                <th class="tableHead">Sortie</th>
                <th class="tableHead">Date de début</th>
                <th class="tableHead">Clôture des inscriptions</th>
                <th class="tableHead">Inscrits</th>
                <th class="tableHead">État</th>
                <th class="tableHead">Inscrit</th>
                <th class="tableHead">Organisateur</th>
                <th class="tableHead">Actions</th>
            </tr>
            {% for sortie in sorties %}
                <tr id="contenu">
                    <td>{{ sortie.id }}</td>
                    <td class="tableTitle"><a
                                href="{{ path('app_sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y à H:m') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count ~ ' / ' ~sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for participant in sortie.participants %}
                            {% if participant is same as (app.user) %}
                                <p class="greenTag">Inscrit</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ sortie.organisateur.nom ~ ' ' ~ sortie.organisateur.prenom }}</td>
                    <td class="tableActions">

                        {% set compteurParticipantInscrit = 0 %}

                        {% for participant in sortie.participants %}
                            {% if participant is same as (app.user) %}
                                {% set compteurParticipantInscrit = compteurParticipantInscrit +1 %}
                                <a href="{{ path('app_desistement_sortie', {'id': sortie.id}) }}"><img
                                            src="{{ asset('img/removeUser.svg') }}" alt="Se désister"></a>
                            {% endif %}
                        {% endfor %}

                        {% if compteurParticipantInscrit == 0 %}
                            <a href="{{ path('app_inscription_sortie', {'id': sortie.id}) }}"><img
                                        src="{{ asset('img/addUser.svg') }}" alt="S'inscrire"></a>
                        {% endif %}
                        {% if sortie.organisateur is same as  app.user %}
                            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}"><img
                                        src="{{ asset('img/edit.svg') }}" alt="Modifier"></a>
                        {% endif %}

                        {% if sortie.organisateur is same as app.user or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_sortie_annulation', {'id': sortie.id}) }}"><img
                                        src="{{ asset('img/trash.svg') }}" alt="Annuler"></a>
                        {% endif %}
                        {% if sortie.organisateur is same as app.user and sortie.etat.id == 1 %}
                            <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>

        <a class="purpleButton tableButton" href="{{ path('app_sortie_new') }}">Organiser une sortie</a>
    </div>


{% endblock %}
