{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}

    <h4>Date du jour : {{ 'now'|date('d-m-Y') }}</h4>
    <h5>Connecté : {{ utilisateur.nom|upper ~ ' ' ~ utilisateur.prenom }}</h5>
    <div>
        <h3>Filtrer les sorties</h3>

        {{ form_start(form)}}
        {{ form_widget(form)}}
        <button type="submit">Rechercher</button>
        {{ form_end(form) }}

        {#
        <label for="campus">Campus:</label>
        <select id="campus">
            {% for campus in campuses %}
                <option value="{{ campus.id }}">{{ campus.nom }}</option>
            {% endfor %}
        </select>

         <label for="rechercher">le nom de la sortie contient :</label>
        <input type="search" id="rechercher">

        <label for="dateDebut">Entre</label>
        <input type="date" id="dateDebut">

        <label for="dateFin">et</label>
        <input type="date" id="dateFin">

        <label for="sortieOrganisateur">Sortie dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="sortieOrganisateur" name="sortieOrganisateur">

        <label for="sortieInscrit">Sortie dont je suis l'organisateur/trice</label>
        <input type="checkbox" id="sortieInscrit" name="sortieInscrit/e">

        <label for="sortiePasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
        <input type="checkbox" id="sortiePasInscrit" name="sortiePasInscrit">

        <label for="sortiePassee">Sortie passées</label>
        <input type="checkbox" id="sortiePassee" name="sortiePassee">#}

        <table>
            <tr>
                <th>id</th>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture Inscription</th>
                <th>Inscrits</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sorties %}
                <tr id="contenu">
                    <td>{{ sortie.id }}</td>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y à H:m') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.participants.count ~ ' / ' ~sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for participant in sortie.participants %}
                            {% if participant is same as (app.user) %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ sortie.organisateur.nom|upper ~ ' ' ~ sortie.organisateur.prenom }}</td>
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>

                        {% set compteurParticipantInscrit = 0 %}

                        {% for participant in sortie.participants %}
                            {% if participant is same as (app.user) %}
                                {% set compteurParticipantInscrit = compteurParticipantInscrit +1 %}
                                <a href="{{ path('app_desistement_sortie', {'id': sortie.id}) }}">Se désister</a>
                            {% endif %}
                         {% endfor %}

                        {% if compteurParticipantInscrit == 0 %}
                            <a  href="{{ path('app_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}


                        {% if sortie.organisateur is same as app.user %}
                            <a href="#">Modifier</a>
                            <a href="#">Annuler</a>
                        {% endif %}
                        {% if sortie.organisateur is same as app.user and sortie.etat.id == 1 %}
                            <a href="#">Publier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{{ path('app_sortie_new') }}">Créer une sortie</a>

    </div>


{% endblock %}
