{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}Modifier la sortie{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>

    {% if sortie.organisateur is same as app.user %}


        {# ---------------------   MODAL ---------------------- -#}

        <button id="myBtn">Ajouter un lieu</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h4>Ajouter un lieu: </h4>
                {{ form_start(formLieu) }}
                {{ form_widget(formLieu) }}
                <button type="submit">Ajouter</button>
                {{ form_end(formLieu) }}
            </div>

        </div>

        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        {# ----- FIN MODAL ----- #}


        {{ form_start(form) }}
        {{ form_widget(form) }}
{#
        <div>
            Adresse : {{ sortie.lieu.rue ~ ' à ' ~ sortie.lieu.ville.nom ~ ' - ' ~ sortie.lieu.ville.codePostal }}
        </div>#}
        <button type="submit">Valider les modifications</button>
        {{ form_end(form) }}

    {% else %}
        <p>Vous n'êtes pas organisateur de la sortie.</p>
    {% endif %}

    <a href="{{ path('app_main_connecte') }}">Retour la liste des sorties.</a>

    {% if sortie.organisateur is same as (app.user) %}

        <a href="{{ path('app_sortie_annulation', {'id':sortie.id}) }}">Annulation</a>
        <a href="{{ path('app_sortie_publier', {'id': sortie.id}) }}">Publier la sortie</a>
    {% endif %}

{% endblock %}

{% block script %}

    <script src="{{ asset('js/choixVille.js') }}"></script>

{% endblock %}






