{% extends 'base.html.twig' %}

{% block title %}Organiser{% endblock %}


{% block style %}
    <style>
        .popUp {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}


    <h1>Organiser une sortie</h1>

    {# ---------------------   MODAL ---------------------- -#}
    {#
    <button id="myBtn">Ajouter un lieu</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4>Ajouter un lieu: </h4>
            {{ form_start(formLieu) }}
            {{ form_widget(formLieu) }}
            <button type="submit">Ajouter</button>
            {{ form_end(formLieu) }}
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    {# ----- FIN MODAL ----- #}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="purpleButton">Créer en Brouillon</button>
    <button class="whitePurpleButton"><a href="{{ path('app_lieu_new') }}" target="_blank">Ajouter un lieu</a></button>

    {{ form_end(form) }}

    <a href="{{ path('app_main_connecte') }}">Annuler</a>
{% endblock %}


{% block script %}

    <script src="{{ asset('js/choixVille.js') }}"></script>

{% endblock %}

