{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie {{ sortie.nom ~ ' le : ' ~ sortie.dateHeureDebut|date('d-m-Y H:i:s') }}</h1>
    <h2>Fin des inscriptions le : {{ sortie.dateLimiteInscription|date('d-m-Y H:i:s') }}</h2>
  <h3>Organisé par : {{ sortie.organisateur.nom|upper ~ ' ' ~ sortie.organisateur.prenom ~ ' du campus : ' ~ sortie.campus.nom}}</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <th>Date et Heure de la sortie</th>
            <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ sortie.duree ? sortie.duree|date('H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Nombre de place</th>
            <td>{{ sortie.participants.count ~ ' / ' ~ sortie.nbInscriptionsMax }}</td>
        </tr>
        <tr>
            <th>Description et Infos</th>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
        <tr>
             <th>Campus</th>
            <td>{{ sortie.campus.nom }}</td>
        </tr>
        <tr>
            <th>Lieu</th>
            <td>{{ sortie.lieu.nom ~ ' - ' ~ sortie.lieu.rue ~ ' - ' ~ sortie.lieu.ville.nom ~ ' - ' ~ sortie.lieu.ville.codePostal }}</td>
        </tr>

        {% if sortie.motif %}
            <tr>
                <th>Motif</th>
                <td>{{ sortie.motif }}</td>
            </tr>
        {% endif %}
        </tbody>

    </table>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
        </tr>
        {% for participant in sortie.participants %}
        <tr>
            <td><a href="{{ path('app_participant_profil', {'id': participant.id}) }}">{{ participant.nom|upper }}</a></td>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.telephone }}</td>
        </tr>
        {% endfor %}
    </table>

        {% if sortie.participants is same as (app.user) %}
            <a href="{{ path('app_desistement_sortie', {'id':sortie.id}) }}">Se désister</a>
        {% else %}
            <a href="{{ path('app_inscription_sortie', {'id':sortie.id}) }}">S'inscrire</a>
        {% endif %}

    <a href="{{ path('app_sortie_index') }}">Retour à la liste des sorties</a>

    {% if sortie.organisateur is same as (app.user) %}
        <a href="{{ path('app_sortie_edit', {'id':sortie.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
